:root {
    --cal-dimension: 300px;
  }
  
  .day-container {
    width: var(--cal-dimension);
    /* border-radius: 2%; */
    overflow: hidden;
    /* box-shadow: 0px 0px 8px 2px rgba(172, 172, 172, 0.699); */
    grid-template-columns: repeat(7, 120px);
    gap: 16px;
    padding: 10px;
    /* display: grid; */
  }
  
  .day-header {
    text-align: end;
    font-size: larger;
    padding: 0.2rem;
    padding-right: 10px;
    background: #5c45df;
    font-weight: 600;
    height: 3rem;
    line-height: 3rem;
    color: white;
  }
  
  .initials-box-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: white;
    height: var(--cal-dimension);
    width: var(--cal-dimension);
  }
  
  .empty-day {
    display: grid;
    place-items: center;
    width: var(--cal-dimension);
    height: var(--cal-dimension);
    background: rgb(205, 213, 221);
    color: rgb(131, 141, 153);
    font-size: 5rem;
  }
  
  .key0 {
    background: #545c7b;
  
  }
  .key1 {
    background: #a0d201;
  
  }
  .key2 {
    background: #c87d99;
  
  }
  .key3 {
    background: #79cae3;
  }
  .key4 {
    background: #e64a33;
  }
  .key5 {
    background: #a0d201;
  }
  .key6 {
    background: #c87d99;;
  }
  .key7 {
    background: #79cae3;
  }
  .key8 {
    background: #a0d201;
  }
  .key9 {
    background: #545c7b;
  }
  .key19 {
    background: #e64a33;
  }
  .dname{
    color: #fdfdfd;
  }
  
  .header {
    font-size: 3rem;
    color: white;
    font-weight: 400;
    padding: 7px;
    background: rgb(25, 86, 177);
    margin-bottom: 20px;
    padding-top: 0;
  }
  
  .calendar-container {
    display: flex;
    flex-wrap: wrap;
    background: rgb(215, 146, 224);
    padding: 15px;
    border: 2px dotted grey;
    box-sizing: border-box;
    justify-content: center;
    gap: 10px;
    margin: 0px auto;
    width: 96vw;
  }
  
  textarea {
    margin: 20px;
    width: 50%;
  }
  
  .input-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .year-select {
    font-size: large;
    width: 10rem;
  }
  .name-initials-box {
    display: grid;
    place-items: center;
    padding: 1rem;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .initials {
    font-size: larger;
    color: white;
    font-weight: bold;
  }
  
  